.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #cdf1e7;
  color: white;
}

.App-footer {
  background-color: #F1FFFB;
  color: #68c7ac;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

